*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    /* FONT FAMILIES */
    --ff-primary: "Source Sans Pro", Sans-Serif;
    --ff-secondary: "Source Code Pro", monospace;

    /* FONT WEIGHT */
    --fw-reg: 300;
    --fw-bold: 900;

    /* VAIRABLE COLOURS */
    --clr-light: #ffffff;
    --clr-dark: #000000ef;
    --clr-accent: #875849;
    --clr-black: #000000;

    /* FONT SIZES */
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    /* BOX SHADOWS */
    --bs: 0.25em 00.25em 0.75em rgba(0, 0, 0, 0.25), 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
    /* the first number is the horizontal, the second is the vertical, the third is the blur and a forth can be added which is spread radius. the last is the color. a double shadow can be added by using coma",". */
}

/* MEDIA QUERY */
@media (min-width:800px) {
    :root {
        /* FONT SIZE */
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 2.25rem;
        --fs-body: 1.125rem;
    }
}

/* GENERAL STYLES */
html {
    scroll-behavior: smooth;
}

.main-header {
    display: flex;
    align-items: center;
    padding: 1rem;
}

/* INPUT CHECKBOX STYLE */
#menu-button {
    display: none;
}

#menu-button:checked~.nav {
    transform: translate(0%);
}

/* HAMBURGER AND LABEL STYLES */
.menu-container {
    width: 1rem;
    height: 15px;
    padding-block-start: 0.4rem;
}

.menu-container .hamburger,
.hamburger::before,
.hamburger::after {
    width: 100%;
    height: 3px;
    background: var(--clr-accent);
    display: block;
    cursor: pointer;
}

.hamburger {
    position: relative;
    z-index: 1000;
    right: 0;
}

.hamburger::before,
.hamburger::after {
    content: "";
    position: absolute;
}

.hamburger::before {
    margin-top: -6px;
}

.hamburger::after {
    margin-top: 6px;
}

.main-header {
    justify-content: space-between;
}

.nav {
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transform: translateX(100%);
    transition: transform 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
    /* transition has -delay, -duration, -property, -timing-function. it must have 2 compulsory which is duration and function */
}